body {
    background-image: linear-gradient(to bottom right, #2E3192, #004e92); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
}

.App {
    width: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1, h3, p {
    color: white;
}

.header {
    margin-top: 50px; 
}

button {
    padding: 10px 29px;
    margin: 30px 10px;
    border-radius: 10px;
}

.guess-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.guess-container label {
    color: white;
}

.guess-container input {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: black;
    font-size: 1rem;
}

.guess-container input.guess-correct {
    border-color: #6ebf5f;
}

.guess-container input.guess-incorrect {
    border-color: #ff7b7b;
}
